{% extends 'base.html' %}
{% load static %}
{% block extra_title %} - Contact Us{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}

<div class="overlay"></div>
<div class="container">
    <div class="row">
        <div class="col text-center mt-3">
            <h2 class="logo-font">Contact Us</h2>
            <hr class="w-50 mb-1">
        </div>
    </div>
</div>

<div class="container">
    <div class="row pb-5">
        <div class="col-sm-10 offset-sm-1 col-md-8 offset-md-2 p-5 form-bg">
            <form method="POST">
                <!-- Contact Form -->
                {% csrf_token %}
                <div class="form-group">
                    <label for="nameInput">First Name*</label>
                    <input id="nameInput" type="text" name="first_name" class="form-control form-input"
                        Placeholder="First Name" required>
                </div>
                <div class="form-group">
                    <label for="nameInput">Last Name*</label>
                    <input id="nameInput" type="text" name="last_name" class="form-control form-input"
                        Placeholder="Last Name" required>
                </div>
                <div class="form-group">
                    <label for="exampleFormControlEmail">Email address*</label>
                    <input type="email_address" name="email_address" class="form-control" id="exampleFormControlEmail"
                        placeholder="name@example.com">
                </div>
                <div class="form-group">
                    <label for="subjectInput">Subject</label>
                    <input id="subjectInput" type="text" name="subject" class="form-control form-input"
                        Placeholder="Subject">
                </div>
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Message*</label>
                    <textarea class="form-control" name="message" id="exampleFormControlTextarea1" rows="6"
                        placeholder="How can we help?"></textarea>
                </div>
                <div class="submit-button text-center mb-2">
                    <button type="submit" id="submit-button" class="btn btn-color font-weight-bold text-uppercase">
                        Send Message
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
</div>

{% endblock content %}