<!-- Products Navigation -->
<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-md-none">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-color mr-5" href="#" id="all-products-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-color mr-5" href="#" id="jewellery"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Jewellery
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="jewellery">
                <a href="{% url 'products' %}?category=women_necklaces" class="dropdown-item">Necklaces</a>
                <a href="{% url 'products' %}?category=women_rings" class="dropdown-item">Rings</a>
                <a href="{% url 'products' %}?category=women_bracelets" class="dropdown-item">Bracelets</a>
                <a href="{% url 'products' %}?category=women_watches" class="dropdown-item">Watches</a>
                <a href="{% url 'products' %}?category=women_earrings" class="dropdown-item">Earrings</a>
                <a href="{% url 'products' %}?category=women_necklaces,women_rings,women_bracelets,women_watches,women_earrings"
                    class="dropdown-item">Shop All</a>
            </div>
        </li>
        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-color mr-5" href="{% url 'blog' %}">
                Blog
            </a>
        </li>
    </ul>
</div>