<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-md-none">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-color mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-color mr-5" href="#" id="women-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Women
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="women-link">
                <a href="{% url 'products' %}?category=women_necklaces" class="dropdown-item">Necklaces</a>
                <a href="{% url 'products' %}?category=women_rings" class="dropdown-item">Rings</a>
                <a href="{% url 'products' %}?category=women_bracelets" class="dropdown-item">Bracelets</a>
                <a href="{% url 'products' %}?category=women_watches" class="dropdown-item">Watches</a>
                <a href="{% url 'products' %}?category=women_earrings" class="dropdown-item">Earrings</a>
                <a href="{% url 'products' %}?category=women_anklets" class="dropdown-item">Anklets</a>
                <a href="{% url 'products' %}?category=women_necklaces,women_rings,women_bracelets,women_watches,women_earrings,women_anklets" class="dropdown-item">Shop All</a>
            </div>
        </li>

        <!-- <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-color mr-5" href="#" id="men-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Men
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="men-link">
                <a href="" class="dropdown-item">Necklaces</a>
                <a href="" class="dropdown-item">Rings</a>
                <a href="" class="dropdown-item">Bracelets</a>
                <a href="" class="dropdown-item">Watches</a>
                <a href="" class="dropdown-item">Rings</a>
                <a href="" class="dropdown-item">Shop All</a>
            </div>
        </li> -->

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-color mr-5" href="#" id="collections" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Collections
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="collections-link">
                <a href="{% url 'products' %}?category=personalised" class="dropdown-item">Personalised</a>
                <a href="{% url 'products' %}?category=signature" class="dropdown-item">Signature</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-color" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Special Offers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="{% url 'products' %}?category=new_arrivals" class="dropdown-item">New Arrivals</a>
                <a href="{% url 'products' %}?category=deals" class="dropdown-item">Deals</a>
                <a href="{% url 'products' %}?category=clearance" class="dropdown-item">Clearance</a>
                <a href="{% url 'products' %}?category=new_arrivals,deals,clearance" class="dropdown-item">All Specials</a>
            </div>
        </li>
        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-color mr-5" href="{% url 'blog' %}">
                Blog
            </a>         
        </li>
    </ul>
</div>