{% block content %}
{% load static %}

<!-- Reviews Section -->
<div class="container text-center">
    <div class="card">
        <div class="m-3">
            <h2>Reviews</h2>
            <!-- Allow authenticated user to add a review -->
            {% if user.is_authenticated %}

            <a href="{% url 'add_review' product.id %}" class="btn btn-color rounded mt-2" aria-label="add review">Add
                Review <i class="fas fa-star"></i></a>
            <!-- Or prompt a user to login to leave a review -->
            {% else %}
            <h6 class="title-heading-small">Please <a href="{% url 'account_login' %}">log in</a> to add a review of a product.</h6>
            {% endif %}
        </div>
    

        <div class="row text-center text-md-left g-3 card-row-review">
            <!-- Display product reviews -->
            {% if reviews %}
            {% for review in product.reviews.all %}
            <div class="col-md-6 col-lg-3 col-xl-3 mx-auto mt-3 mb-3">
                <div class="card box-shadow h-100">
                    <div class="card-body card-body-review">
                        <div class="blockquote-custom-icon quote-square shadow-1-strong">
                            <i class="fa fa-quote-left text-white"></i>
                        </div>
                        <div class="card-text mt-2">{{ review.description | linebreaks }}</div>
                    </div>
                    <div class="card-footer card-footer-review">
                        <div><small>Review on
                                {{ review.review_time|date:"M d, Y" }}.</small>
                        </div>
                        <div><small>{{ review.user }} gave this product a
                                <span>{{ review.star_rating }} <i
                                        class="fas fa-star mr-1 review-star-rating"></i></span>rating.</small>
                        </div>

                        {% if request.user.is_authenticated %}
                        {% if request.user|lower == review.user|lower %}
                        <!-- Edit / Delete review if user's review -->
                        <p class="edit-buttons text-right">
                            <a href="{% url 'edit_review' review.id %}" class="btn border-color mt-2 mb-2">Edit my review
                                <i class="far fa-edit">
                                </i>
                            </a>
                            <a href="{% url 'delete_review' review.id %}" class="btn border-color text-danger">Delete my
                                review
                                <i class="far fa-trash-alt">
                                </i>
                            </a>
                        </p>
                        {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
            {% if forloop.counter|divisibleby:3 %}
        </div>
            <div class="row">
                {% endif %}
                {% endfor %}
            </div>
            {% else %}
            <!-- Text to display if there are no reviews -->
            <div class="column">
                <h5 class="title-heading-small">There are no reviews for {{ product.name }} yet. Why don't you add one?</h5>
            </div>
        </div>
    </div>
</div>
    {% endif %}
    {% endblock %}
